@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary{
    @apply bg-blue-600 text-white px-4 py-2 rounded-md mt-4;
}

.btn-outline{
    @apply border-blue-600 border text-blue-600 px-4 py-2 rounded-md mt-4;
}

.delete-row-color{
    @apply border border-slate-300 px-4 rounded-md hover:text-red-600 hover:border-red-600; 
}

.delete-row{
    @apply border border-slate-300 px-4 rounded-md hover:text-red-600 hover:border-red-600; 
}

.input{
    @apply border border-slate-400 grow rounded-md p-2;
}

.input-wrap{
    @apply grid relative grow max-w-md;
}

.input-label{
    @apply absolute -top-6;
}

#editing-view-port, #editing-view-port > div{
    display: inline-block !important;
    border: 1px solid red;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: 0;
    @apply rounded-md overflow-hidden;
    
}

input[type="color" i]::-webkit-color-swatch {
    background-color: unset;
    border-width: 0px;
    
}

.copyToClipboard{
    @apply bg-slate-700 rounded-full absolute right-2 top-2 px-4 hover:text-white cursor-pointer;
}


.active-menu{
    @apply bg-slate-300;
    border-radius: 0 100px 100px 0;
}

@layer components {        
    .font-preview > p {
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    
    .subTitle{
        @apply font-bold text-3xl mb-4;
    }


}
