@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary{
    @apply bg-blue-600 text-white px-4 py-2 rounded-md mt-4;
}

.btn-outline{
    @apply border-blue-600 border text-blue-600 px-4 py-2 rounded-md mt-4;
}

.input{
    @apply border border-slate-400 grow rounded-md p-2;
}

.input-wrap{
    @apply grid relative grow max-w-md;
}

.input-label{
    @apply absolute -top-6;
}

#editing-view-port, #editing-view-port > div{
    display: inline-block !important;
    border: 1px solid red;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: 0;
    @apply rounded-md overflow-hidden;
    
}

input[type="color" i]::-webkit-color-swatch {
    background-color: unset;
    border-width: 0px;
    
}




@layer components {    
    /* .code-preview {
        background-color: #d3eaff;
        line-height: 2;
        padding: 10px;
        margin-bottom: 30px;
    }
    .code-preview pre {
        padding: 0;
        margin: 0;
    } */
    
    .sm, .md, .base, .lg, .xl, .xxl {
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    
    .sm {
        font-size: var(--win-fs-sm);
    }
    
    .md {
        font-size: var(--win-fs-md);
    }
    
    .base {
        font-size: var(--win-fs-base);
    }
    
    .lg {
        font-size: var(--win-fs-lg);
    }
    
    .xl {
        font-size: var(--win-fs-xl);
    }
    
    .xxl {
        font-size: var(--win-fs-xxl);
    }
    
    /* #typographySingle, #typographyRatio {
        border: 4px solid lightblue;
        padding: 20px;
        margin: 20px 0;
    } */

    .subTitle{
        @apply font-bold text-3xl mb-4;
    }


}
