*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    gap: 30px;
}

.btn-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.btn {
    background-color: #eeeeee;
    border: none;
    color: rgb(10, 10, 10);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.btn-group button.active {
    background-color: #41ddf2;
}

/* Style for right part with iframe */
iframe {
    width: calc(100% - 35px);
    height: 100vh;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.highlight {
    border: 2px solid red !important;
    outline: none !important;
    box-shadow: none !important;
}

.selected {
    background-color: yellow !important;
}